@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

body {
    margin: 0%;
    font-family: 'DM Serif Text', serif;
}

header {
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-repeat: repeat;
    background-size: 11cm;
    height: 2.8cm;
}

/* Logo */
#logo {
    max-width: 5cm;
    margin: 0.2cm;
    margin-top: 1.3cm;
}

main {
    margin: 8px;
}

h1 {
    font-size: 230%;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 0px;
}

.caption {
    font-size: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#credit, #date {
    color: gray;
}

#date {
    font-size: 70%;
}

a {
    color: rgb(48, 179, 255);
    text-decoration: none;
}

section {
    margin-top: 2%;
}

.highlighted {
    background-color: yellow;
}

.column {
    text-align: left;
    width: 25%;
}

.tablehead {
    background-color: rgb(31, 145, 210);
    color: white;
}

.tablebodyodd {
    background-color: rgb(179, 235, 255);
}

.tablebodyeven {
    background-color: white;
}






